body {
    background-image: url(./assets/adult-bar-bar-cafe-1137745.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
  
}
#header
{
    background-color: transparent
}
