body {
    background-image: url("./Assets/pexels-photo-1251175.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: rgba(1, 0, 2, 0.884)
  
}
#header
{
    background-color: transparent

}
